<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>DB handler</title>
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <body>
    <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/"><img src="/logo.png" alt="logo" width="13%"/></a>
    <a class="add-button" href="/add" ><i class="fa fa-plus-square"></i></a>
    </nav>
    <div class="container">
